<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>meteo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Ville: </ion-label>
        <ion-input type="text" [(ngModel)]="city"></ion-input>
        <ion-button (click)="onLoadMeteo()">OK</ion-button>
      </ion-item>
    </ion-card-content>
    <ion-card *ngIf="meteoModel">
      <ion-card-content>
        <ion-item>
          <ion-label>
            City: <strong>{{meteoModel.city.name}}</strong>,
            Country: <strong>{{meteoModel.city.country}}</strong>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
          Long: <strong>{{meteoModel.city.coord.lon}}</strong>,
          Lat: <strong>{{meteoModel.city.coord.lat}}</strong>
        </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Population: <strong>{{meteoModel.city.population|number:'0.0'}}</strong></ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="meteoModel">
      <ion-card-content>
        <ion-list *ngFor="let m of meteoModel?.list">
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="assets/meteoImg/{{m.weather[0].icon}}.png"></ion-img>
            </ion-avatar>
            <ion-list >
              <ion-item style="font-size: 12px;"><strong>{{m.dt*1000|date:'dd/MM/yyyy HH:mm'}}</strong></ion-item>
              <ion-item style="font-size: 12px;">Min:<strong>{{((m.main.temp_min-32)*5/9) | number:'0.0'}} C°</strong>, Max:<strong>{{((m.main.temp_max-32)*5/9) | number:'0.0'}} C°</strong></ion-item>
              <ion-item style="font-size: 12px;">Pre:<strong>{{m.main.pressure/1000}} bar</strong>, Hum:<strong>{{m.main.humidity}} %</strong></ion-item>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-card>

  
</ion-content>
