<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
   <ion-card-header>
    <ion-card-title>
      Amine ionic studies
    </ion-card-title>
   </ion-card-header>
   
   <ion-card-content>

    <div class="row">

      <div class="col-sm-12 col-ml-6 col-lg-6">
        <ion-item>
          <ion-label position="stacked">Youtube URL</ion-label>
          <ion-input [(ngModel)]="urlDown"></ion-input>
        </ion-item>
      </div> 
      <div class="col-sm-12 col-ml-3 col-lg-3">
        <ion-list>
          <ion-item>
            <ion-label>Type</ion-label>
            <ion-select [(ngModel)]="type">
              <ion-select-option value="audio">AUDIO</ion-select-option>
              <ion-select-option value="video">VIDEO</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div> 
      <div class="col-sm-12 col-ml-3 col-lg-3">
        <ion-button color="success" (click)="search()">Download</ion-button>
      </div>

    </div>
    
    <br/>
    <ion-img [src]="contact.logo"></ion-img>
    <ion-list>
      <ion-item>Name : {{contact.name}}</ion-item>
      <ion-item>Email : {{contact.email}}</ion-item>
      <ion-item>Tel : {{contact.tel}}</ion-item>
    </ion-list>
   </ion-card-content>

 </ion-card>
</ion-content>
